body {
  display: flex;
  height: 100%;
  max-width: 1000px;
  margin: 50px auto;
  background-color: rgb(109, 5, 48);
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}

.buttons {
  display: flex;
  padding: 10px;
}

.userInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


main {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 20px;
  border: 2px solid ;
  min-width: 600px;
}

h2 {
  margin: auto;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}


button {
  margin: 5px auto;
  padding: 5px;
  color: rgb(109, 5, 48);
  font-size: 1em;
  font-family: 'Paytone One', sans-serif;
  border-style: double;
  border-color:rgb(51, 10, 27);
}

button:hover {
  border: 3px solid rgb(168, 66, 109);
  background-color: whitesmoke;
}